{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <h1>Hello</h1>
    <p>
        World
    </p>
    <code>=;)</code>
{% endblock %}
